{% extends "basehead.html" %}
{% block content %}
<center>
<br>
</br>
<div class="container">

{% for x in users_workorders %}
	<div class="panel panel-default">
		<div class="panel-heading clearfix"><h4 class="pull-left">Workorders With Hours</h4></div>
			<div class = "table-responsive">
                <table class = "table table-bordered">
					<th>Workorder ID</th>
					<th>Created Date</th>
					<th>Customer</th>
					<th>Customer PO</th>
					<th>Requested By</th>
					<th>Work Description</th>
					<th>Status</th>
					    <tr>
					    	<td >MCI{{ x.id}}</td>
					    	<td>{{ x.date }}</td>
					        <td>{{ x.customer }}</td>
					        <td>{{ x.customer_po }}</td>
					        <td>{{ x.requested_by }}</td>
					        <td>{{ x.work_description }}</td>
					        <td>{{ x.status }}</td>
					    </tr>
					    <th>Date</th>
						<th>Name</th>
						<th>Regular Hours</th>
						<th>OT Hours</th>
						<th>Rate</th>
					    {% for y in x.work_order_hours %}
					    <tr>
					    	<td>{{ y.date }}</td>
					    	<td>{{ y.name }}</td>
					    	<td>{{ y.regular_hours }}</td>
					    	<td>{{ y.ot_hours }}</td>
					    	<td>{{ y.rate }}</td>
					    </tr>
					    {% endfor %}
				</table>
			</div>
		</div>
{% endfor %}
	<div class="panel panel-default">
		<div class="panel-heading clearfix"><h4 class="pull-left">Hour Entries</h4></div>
			<div class = "table-responsive">
                <table class = "table table-bordered">
					<th>Date</th>
					<th>Employee</th>
					<th>Regular Hours</th>
					<th>Overtime Hours</th>
					<th>Rate</th>
					{% for i in users_hours %}
					    <tr>
					        <td>{{ i.date }}</td>
					        <td>{{ i.name }}</td>
					        <td>{{ i.regular_hours }}</td>
					        <td>{{ i.ot_hours }}</td>
					        <td>{{ i.rate }}</td>
					    </tr>
					{% endfor %}
				</table>
			</div>
		</div>

</div>
</center>

{% endblock %}